* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(photo-1481627834876-b7833e8f5570.png);
}


header {
    width: auto;
    height: auto;
    /* border: 2px solid; */
    padding: 27px 30%;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    user-select: none;
    position: relative;
    right: 97px;
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation a {
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    color: white;
    position: relative;
}

.navigation a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 6px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.menuAndbtn {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menuAndbtn a {
    text-decoration: none;
    color: #fff;
}

.menuAndbtn img {
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

#login-btn {
    position: relative;
    left: 114px;
    width: 100px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #e6cbcb;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.5s, opacity 0.5s;
    opacity: 0.5;
}

#login-btn a {
    text-decoration: none;
    color: #fff;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-btn:hover {
    background-color: transparent;
    opacity: 1;
}

.menu-items {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #000000;
    padding: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    z-index: 5;
}

.menu-items a {
    font-size: 1.2em;
    color: rgb(193, 176, 176);
    text-decoration: none;
    text-align: center;
}

.menu-items.show {
    display: flex;
}


.container {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    width: 350px;
    height: auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    opacity: 2;
}

.container .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #20201f;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.heading {
    margin-top: -50px;
}

.form {
    width: 100%;
    padding: 40px;
}

.form h2 {
    margin-bottom: 15px;
    color: rgb(14, 15, 15);
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #212121;
    margin: 30px 0;
    /* margin-bottom: 10rem; */
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: #000000;
    font-weight: 510;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #212121;
    line-height: 57px;
}

.remember_me {
    /* font-weight: .9em; */
    color: #000000;
    font-weight: 500;
    margin-left: 10px;
}

.remember_me a {
    margin-top: 15px;
    margin-left: 32px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.remember_me button {
    margin-top: 20px;
    width: 90%;
    height: 5vh;
    background-color: #20201f;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 2.3vh;
    border-radius: 5px;
    cursor: pointer;
}

.remember_me p {
    margin-top: 15px;
}

.remember_me p a {
    font-size: 1.3rem;
    color: #000000;
    transition: 1s;
}

.remember_me p a:hover {
    color: rgb(252, 255, 255);
}

.login-register {
    display: flow-root;
    position: absolute;
    margin-top: 58vh;
    font-weight: 500;
    color: #110e0e;
    justify-content: center;
}

.login-register a {
    margin-left: 3px;
    color: black;
    text-decoration: none;
}

.footer {
    width: 100%;
    height: auto;
    /* margin: 2px; */
    background: rgba(231, 222, 222, 0.2);
    box-shadow: 12px 4px 9px 10px;
    position: absolute;
    top: 95vh;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.footerContainer1 {
    width: auto;
    height: auto;
    /* border: 2px solid #fff; */
    margin: 18px 0px 9px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.link {
    display: grid;
    list-style: none;
    gap: 6px;
    padding: 12px 30px;
}

.link h3 {
    color: rgb(113, 215, 237);
}

.link li a {
    color: #fff;
    text-decoration: none;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 3px;
    transition: 1s;
}

.link li a:hover {
    transform: scale(1.2);
    color: blanchedalmond;
}

.companyName {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
}

.contact {
    position: relative;
    right: 26px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 7px 36px 12px 13px;
}

.contact h3 {
    font-weight: 200;
}

.contact a {
    color: #fff;
    display: flex;
    padding: 0px 7px 0px 6px;
    flex-wrap: wrap;
    text-decoration: none;
}

.follow {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
}

.follow h3 {
    font-weight: 300;
    margin-right: 10px;
}

.follow a {
    color: #fff;
    text-decoration: none;
    display: flex;
    transition: 1s;
}

.follow a:hover {
    transform: scale(1.2);
    font-size: 1.5rem;
    color: bisque;
}


@media screen and (max-width:881px) {
    body {
        display: flexbox;
        background-image: url(./photo-1481627834876-b7833e8f5570.png);
        align-items: center;
        justify-content: center;
    }

    .navigation {
        display: none;
    }

    .menuAndbtn img {
        display: block;
    }

    .menu-items {
        display: none;
        /* Initially hide the menu items */
    }

    .menu-items.show {
        display: flex;
        /* Show the menu items when toggled */
    }
    .menu-items a {
        font-size: 1.2em;
        color: rgb(209, 203, 203);
        text-decoration: none;
        text-align: center;
    }

    .menu-items a:hover{
        font-size: 1.4rem;
        color: rgb(221, 126, 92);

    }

    .container {
        width: 350px;
        height: auto;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        /* overflow: hidden; */
        /* opacity: 2; */
    }
}


@media screen and (max-width:450px) {
    body {
        display: flexbox;
        background-image: url(./photo-1481627834876-b7833e8f5570.png);
        align-items: center;
        justify-content: center;
    }
    header {
        margin-left: 50px;
        padding: 27px 50%;
        display: flex;
        align-items: center;
    }

    .logo {
        color: #fff;
        font-size: 2rem;
        user-select: none;
        position: relative;
        right: 23px;
    }

    .menuAndbtn img {
        position: relative;
        left: 48px;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        background-color: rgb(31, 29, 29,0.9);
        padding: 20px;
        height: 200px;
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        box-shadow: 10px 15px 14px 0;
        z-index: 5;
    }
    
    .menu-items a {
        font-size: 1.2em;
        color: rgb(209, 203, 203);
        text-decoration: none;
        text-align: center;
    }

    .menu-items a:hover{
        font-size: 1.4rem;
        color: rgb(221, 126, 92);

    }
    .container {
        width: 350px;
        height: auto;
        top: 15vh;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px 75px;
    }

    .remember_me {
        font-size: 0.8rem;
    }

    .footer {
        width: 716px;
        height: auto;
        background: rgba(231, 222, 222, 0.2);
        box-shadow: 12px 4px 9px 10px;
        position: absolute;
        top: 80vh;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        padding: 0 18px 0 173px
    }
}